a.dropdown-toggle{
   padding:1vw 1.5vw;
   
   border:2px solid black;
}
.theme{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2vw;
}
ul{
    list-style-type: none;
}
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    .move-left{
        float: left;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }



  #socialMedia div {

    
    cursor: pointer;
    text-transform: uppercase;
    padding: .7vw;
    border: solid black;
    margin-left: 30%;
    margin-bottom: 1vw;
    width: 65%;
    font-weight: bold;
 }
 
 #socialMedia div:first-child {
    margin-top: 1vw;
    background-color: #3b5998;
    color: white;
    border: none;
    font-weight: bold;
 }
 
 
 .hero {
    border-top: solid 1px black;
 }
 
 #socialMedia div:hover {
    background-color: black;
    color: white;
 }
 
 #socialMedia {
    text-align: center;
 }

.dropdown-list {
  
    padding-left: 5vw;
  }


  @media only screen and (min-width: 200px) {

    p{
      font-size: 4vw;
    }
    #socialMedia{
        font-size: 3vw; 
    }
}
@media only screen and (min-width: 420px) {
    p{
        font-size: 3vw;
    }
    #socialMedia{
        font-size: 2vw;
    }
}
@media only screen and (min-width: 800px) {
  p{
    font-size: 2.5vw;
  }
  #socialMedia{
    font-size: 1.2vw;
  }
}