#innerbanner {
    background-image: url(../portfolio_files/portfolio-logo.png);
}

/* CSS Document */

body{margin-top: 50px; margin-bottom: 100px;}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}


.card-header{color:dodgerblue}

.card img:hover {
    opacity: .4;
    cursor: pointer;
}

.card-header h3 {
    color: black;
    font-family: domain-regular,serif;
    cursor: pointer;
}

.create {
   margin: 2vw;
    text-align: center;
}

.create span{
    cursor: pointer;
    text-transform: uppercase;
    padding: .7vw;
    border: solid black;
}

.create span:hover {
    background-color: black;
    color: white;
}

.card-header p {
    font-family: domain-regular,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: black;
}

#socialMedia div {
   
    font-size: 1vw;
    cursor: pointer;
    text-transform: uppercase;
    padding: .7vw;
    border: solid black;
    margin-left: 30%;
    margin-bottom: 1vw;
    width: 65%;
    font-weight: bold;
}

#socialMedia div:first-child {
    margin-top: 1vw;
    background-color: #3b5998;
    color: white;
    border: none;
    font-weight: bold;
}



.hero {
    border-top: solid 1px black;
}

#socialMedia div:hover {
    background-color: black;
    color: white;
}

#socialMedia {
    text-align: center;
}
