h2 {
	margin-bottom:50px;
	font-size:2.2em;
	font-family:'domain-regular';
	text-align: center;
}
.subscription-wrapper {
	background-color: #f9f9f9; 
}
.main_logo {
	max-width: 132px;
}
.header-content-logo {
	text-align: center;
}
.minimum-amount-notice {
	font-size:1.8em;
	font-family:'domain-regular';
	line-height:initial;
	color:#a78048;
	text-align: center;
}
.cancellation-notice {
	color: #999;
	font-size: 1.6em;
	margin-top: 25px;
	text-align: center;
}
.conditions-apply {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}
.copyright-name {
	text-align:center;
	font-weight: bold;
	font-family:gt-walsheim-pro-bold;
	padding:10px 0;
}
.card {
	height: 90%;
	width: 20rem;
}
.card_body ul li {
	background-image: url("../images/check_green.png");
}
.gift_image {
	display: block;
	height: 30%;
	width: 90%;
}
